{% extends "modelo_base.html"%}
{%block conteudo%}
    <div class="contexto">
       <div class="primeiro">
            <img src ="https://i.pinimg.com/236x/77/cc/e9/77cce96f74894305f6d038bf6ddc5cb5.jpg" >
            <div class="Segunda">
                <p>Nome completo: Johnvitor Gomes</p>
                <p>Idade: 22 anos.</p>
                <p>Natural de Natal/RN</p>
                <p>Gosto de artes marcias e motos.</p>
            </div>
        </div>
    </div>
    <a href="{{url_for('segunda_pagina')}}"><button>Contato</button></a>
{%endblock%}